<div class="container">


      <%= form_for @search, :html => {:class => "form-horizontal"} do |f| %>
        <div id="my_searches">

          <table class = 'go'>
            <tr>
          <% new_object = f.object.send(:search_attributes).klass.new %>
          <% id = new_object.object_id %>

          <%= fields = f.fields_for(:search_attributes, new_object, child_index: id) do |builder| %>
            <%= render("interns/" + :search_attributes.to_s.singularize + "_fields", f: builder) %>

              </table>

         <td> <%= link_to_add_fields "Add Search", f, :search_attributes %></td>
          <td><%= submit_tag 'Search', class: "btn btn-info", :name => nil %></td>

            </tr>

        <% end %>



        <br />
        <br />

          <tr>

            <td><%= link_to 'New Intern', new_intern_path, id: "new_interns", name: "NewInterns", class: "btn btn-info" %></td>
          </tr>


      <% end %>
    </div>
    </div>





