<%= form_for(@intern) do |intern_form| %>
  <% if @intern.errors.any? %>
    <div id="errorExplanation">
      <h4><%= pluralize(@intern.errors.count, 'error') %> prohibited this intern from being saved:</h4>
      <ul>
        <% @intern.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="classcol1">
    <div class="field">
      <%= intern_form.label :first_name %>
      <%= intern_form.text_field :first_name %>
    </div>

    <div class="field">
      <%= intern_form.label :middle_initial %>
      <%= intern_form.text_field :middle_initial %>
    </div>

    <div class="field">
      <%= intern_form.label :last_name %>
      <%= intern_form.text_field :last_name %>
    </div>

    <div class="field">
      <%= intern_form.label :dob %>
      <%= intern_form.date_field :dob %>
    </div>


    <div class="classcol2">
      <div class="field">
        <%= intern_form.label :school %>
        <%= intern_form.text_field :school %>
      </div>

    </div>
    <div class="field">
      <%= intern_form.label :classification %>
      <%= intern_form.text_field :classification %>
    </div>

    <div class="field">
      <%= intern_form.label :major %>
      <%= intern_form.text_field :major %>
    </div>

    <div class="field">
      <%= intern_form.label :local_city %>
      <%= intern_form.text_field :local_city %>
    </div>


    <div class="classcol3">
      <div class="field">
        <%= intern_form.label :local_state %>
        <%= intern_form.text_field :local_state %>
      </div>
    </div>
    <div class="field">
      <%= intern_form.label :school_congressional_district %>
      <%= intern_form.text_field :school_congress_district %>
    </div>


    <div class="field">
      <%= intern_form.label :home_city %>
      <%= intern_form.text_field :home_city %>
    </div>

    <div class="field">
      <%= intern_form.label :home_state %>
      <%= intern_form.text_field :home_state %>
    </div>


    <div class="field">
      <%= intern_form.label :home_congressional_district %>
      <%= intern_form.text_field :home_congress_district %>
    </div>

    <div class="field">
      <%= intern_form.label :ethnicity %>
      <%= intern_form.text_field :ethnicity %>
    </div>


    <div class="field">
      <%= intern_form.label :comments %>
      <%= intern_form.text_area :comments %>
    </div>
  </div>


  <div class="butt2">
    <tr>

      <td><%= link_to 'Back', searches_path, name: "Back", class: "btn btn-info" %></td>
      <td><%= intern_form.submit class: "btn btn-info" %></td>
    </tr>
  </div>

<% end %>