<fieldset>
  <table class="go">
  <tr>
    <td><label class="one"><%= f.label :drop_down, "Categories:" %></td>
  <td><%= f.select :drop_down, options_for_select(Intern.drop_down_options, selected: f.object.drop_down), class: "category"  %></td>
  <td>
  <%= f.text_field :criteria, placeholder: "Enter text here" %></td>


 <td><%= f.hidden_field :_destroy %>
  <%= link_to "Remove", '#', class: "btn btn-info", id: 'remove_fields', name: "RemoveButton" %></label></td>

    </tr>
  </table>
</fieldset>


