<fieldset>
  <table>
  <tr>
  <td><%= f.label :drop_down, "Question " %>
  <%= f.select :drop_down, options_for_select(Intern.column_names.reject{|a| a =~/^id$|updated_at|created_at/i}.collect {|i| [i.titleize, i]}, selected: f.object.drop_down), class: "category"  %></td>
  <td> <%= f.label :criteria, "Criteria " %>
  <%= f.text_field :criteria %></td>


 <td><%= f.hidden_field :_destroy %>
  <%= link_to "Remove", '#', class: "btn", id: "remove_fields" %></td>

    </tr>
  </table>
</fieldset>


