<div class="container">
  <div class="span4 offset3">
  <div class="internslabel"> <h3> Intern</h3></div>
    </div>
  <div id="showinterndata" class="well">
    <p>
      <strong>First Name:</strong>
      <%= @intern.first_name %>
    </p>

    <p>
      <strong>Middle Initial:</strong>
      <%= @intern.middle_initial %>
    </p>

    <p>
      <strong>Last Name:</strong>
      <%= @intern.last_name %>
    </p>


    <p>
      <strong>DOB:</strong>
      <%= @intern.dob.strftime "%m-%d-%Y" %>
    </p>

    <p>
    <strong>School:</strong>
      <%= @intern.school %>
  </p>

    <p>
    <strong>Major:</strong>
    <%= @intern.major %>
  </p>

    <p>
      <strong>Classification:</strong>
      <%= @intern.classification %>
    </p>

    <p>
      <strong>Local City:</strong>
      <%= @intern.local_city %>

    </p>

    <p>
    <strong>Local State:</strong>
    <%= @intern.local_state %>

  </p>

    <p>
      <strong>School Congressional District:</strong>
      <%= @intern.school_congress_district %>

    <p>


    <p>
      <strong>Home City:</strong>
      <%= @intern.home_city %>

    </p>

    <p>
      <strong>Home State:</strong>
      <%= @intern.home_state %>

    </p>


    <p>
      <strong>Ethnicity:</strong>
      <%= @intern.ethnicity %>
    </p>


    <p>
      <strong>Home Congressional District:</strong>
      <%= @intern.home_congress_district %>

    <p>
















  </div>
</div>
