

<%= form_for([@intern, @internship]) do |f| %>
  <div class="field">

    <%= f.label :season %><br />
    <%= f.text_field :season %>
    </div>
  <div class="field">
    <%= f.label :year %><br />
    <%= f.text_field :year %>
    </div>
  <div class="field">
    <%= f.label :program %><br />
    <%= f.text_field :program %>
    </div>

  <div class="actions">
    <tr>
      <td><%= link_to 'Back', intern_path(@intern), class: "btn btn-info" %></td>
      <td> <%= f.submit class: "btn btn-info" %></td>
    </tr>
  </div>
  </div>




   <% end %>